/*
!.gitignore
!*/
/Characters/*
!Characters/.keep
/const/*
!const/.keep
/dic/*
!dic/.keep
en-us
ja
Resources
user
zh-cn
zh-tw
/YMM_auto_generation/*
!YMM_auto_generation/YMM_auto_generation
!YMM_auto_generation/requirements.txt
__pycache__
client.pickle
!readme.md
